<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$BootstrapLabels.title</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/live.css" rel="stylesheet">
</head>
<body>
<!-- Menu navbar -->
#include "nav.html.tmpl"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.tmpl"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <!--
            ---
            --- Use the following format for reasonably smart news / blog posts:
            ---
            --- <h3>Title (leaving a space at the end) <small>Your name, date</small></h3>
            ---
            --- ... Body text goes here. Enclose every paragraph in a set of <p> ... </p> tags.
            ----
            -->
            <h3>ZAMG Wetterwarnungen f&uuml;r Lochen: <small> </small></h3>
                <div id="zamg_wetterwarnungen">
                  <a href="https://warnungen.zamg.at/html/de/heute/alle/at/">
            	  <img src="https://warnungen.zamg.at/warnwidget/de/heute/alle/at/" border="0" alt="ZAMG-Wetterwarnungen" title="ZAMG-Wetterwarnungen" />
                  </a>
                </div>

            <h3>Der Regenmesser wird versetzt <small> Winter 2019/2020 </small></h3>
            <p>Um eine genauere Messung der Regenmengen zu erm&ouml;glichen, wurde der Regensensor neu positioniert.</p>
            <p></p>
            <div></div>
            <img src="regensensor.jpg" alt="Regensensor" title="Der Regensensor der Messstation" style="margin-bottom:5px;" class="img-responsive">

            <h3>Neuer Standort nach dem Hausumbau: <small> Sommer 2019 </small></h3>
            <p>Eine Wetterh&uuml;tte f&uuml;r die Temperatur- und Luftfeuchtemessung wurde aufgestellt.</p>
            <p>Vorher war der Temperatur- Luftfeuchtemesser an einem Baumstamm angebracht, das hat dazu gef&uuml;hrt dass die Temperaturen im Sommer oft um ca. 1 Grad Celsius zu niedrig waren.</p>
            <p>Der Windmesser befindet sich nach wie vor auf dem Dach vom Haus. Die Position passt gut und es gibt keine Verwirbelungen, die die Windmessung st&ouml;ren.</p>
            <p></p>
            <div></div>
            <img src="wetterhuette.jpg" alt="Wetterh&uuml;tte" title="Die Thermometerh&uuml;tte der Messstation" style="margin-bottom:5px;" class="img-responsive">
            <p></p>


            <h3>Lochen bekommt eine neue Wetterstation: <small> Herbst 2017 </small></h3>
            <p>Seit 1. Oktober 2017 steht eine neue Wetterstation in Lochen.</p>
            <p>Laufend werden die aktuellen Wetterdaten gemessen und aufgezeichnet.</p>
            <p>Historische Wetterdaten und Auswertungen findet man in der Chronik.</p>

            <h3>Weitere Wetterstationen in der Umgebung:</h3>
            <p><a href="https://mielach.at/wetter-bergheim/index.html">Das Wetter in Bergheim</a></p>
            <p><a href="http://www.kainzbauer.net/weather/Rif/index.html">Das Wetter in Rif</a></p>


            <!-- End of blog posts -->
        </div>
    </div>
    <hr>
    <footer>
        <p>$BootstrapLabels.footer</p>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/mqtt.min.js"></script>
<script src="js/units.js"></script>
<script src="js/site.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/lang.js"></script>
<script src="js/gauges.js"></script>
</body>
</html>
